<%- include("partials/header") -%>

    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7">
                <img src="/images/grades.png" alt="Page Logo" />
            </div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">Website Name(TBD)</h1>
                <p>Website Name(TBD) is a website design to meet all of your grading needs! Studants can access and view
                    all of thier grades in one, user-freindly spot. Teachers can easily adjust and manage all the grades
                    of their students in one convient place.</p>
                <a class="btn btn-primary" href="/logIn">Get Started</a>
            </div>
        </div>

    </div>

    <!-- Content Row-->
    <div class="container px-4">
        <h2 class="pre-card pb-2 border-bottom">What makes Website Name(TBD) great!</h2>

        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="feature col card h-100">
                    <div>
                        <img src="/images/laptop.png" class="rounded mx-auto d-block img-fluid " alt="...">
                    </div>
                    <h2 class="card-title card-body">Well Designed and Functional</h2>
                    <p class="card-subtitle">Paragraph of text beneath the heading to explain the heading. We'll add
                        onto it
                        with another
                        sentence and probably just keep going until we run out of words.</p>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="feature col card h-100">
                    <div>
                        <img src="/images/easy-to-use.png" class="rounded mx-auto d-block img-fluid " alt="...">
                    </div>
                    <h2 class="card-title card-body">Easy to Use</h2>
                    <p class="card-subtitle">Paragraph of text beneath the heading to explain the heading. We'll add
                        onto it
                        with another
                        sentence and probably just keep going until we run out of words.</p>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="feature col card h-100">
                    <div>
                        <img src="/images/booking.png" class="rounded mx-auto d-block img-fluid " alt="...">
                    </div>
                    <h2 class="card-title card-body">Optimized for Mobile</h2>
                    <p class="card-subtitle">Paragraph of text beneath the heading to explain the heading. We'll add
                        onto it
                        with another
                        sentence and probably just keep going until we run out of words.</p>
                </div>
            </div>
            <div class="col text-center p-5"><a class="btn btn-primary btn-lg sp-5" href="/about">More Info</a>
            </div>

        </div>

    </div>

    </div>



    <%- include("partials/footer") -%>